<header id="sidebar">
	<div id="topnav-content">
		<a id="brand" href="index.html">Xuanjun Chen</a>
		<nav id="nav-menu">
			<a id="nav-about" href="index.html"{% if page.page_id == 'about' %} class="active"{% endif %}>About</a>
			<a id="nav-pub" href="publications.html"{% if page.page_id == 'publications' %} class="active"{% endif %}>Publications</a>
			{% comment %}<a id="nav-blogs" href="blogs.html"{% if page.page_id == 'blogs' %} class="active"{% endif %}>Blogs</a>{% endcomment %}
		</nav>
	</div>
</header>
